<app-header></app-header>
<app-student-sidenav></app-student-sidenav>

<div class="container">
  <!-- PAGE CONTENTS -->
<div class="table">
<div class="row">
    <div class="card">
      <div class="header">
        <h2 class="title">Grades</h2>
      </div>
    </div>&nbsp; 
    <div class="card" >
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-centered table-hover">
          <thead>
            <tr>
              <th>Subject Code</th>
              <th>Grade</th>
              <th>Comment/s</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of datas">
              <td>
                <span>{{ data?.subjectCode }}</span>
              </td>
              <td>
                <span>{{ data?.grade }}</span>
              </td>
              <td>
                <span>{{ data?.comments }}</span>
              </td>
              <td>
                <span>{{ data?.remarks }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
</div>
</div>