<app-header></app-header>
<app-admin-sidenav></app-admin-sidenav>
<div class="container">
  <div class="row">
    <div class="col-sm" style="margin-left: 200px">
      <a
        href="/student-load-bsit"
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center"
      >
        <span><i class="fa fa-users"></i></span>
        <br />BSIT
      </a>
    </div>
    <div class="col-sm">
      <a
        href="/student-load-bscs"
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center"
      >
        <span><i class="fa fa-users"></i></span>
        <br />BSCS
      </a>
    </div>
    <div class="col-sm">
      <a
        href="/student-load-bsee"
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center"
      >
        <span><i class="fa fa-users"></i></span>
        <br />BSEE
      </a>
    </div>

    <div class="border"></div>
  </div>
</div>
