<app-header></app-header>
<app-student-sidenav></app-student-sidenav>
<div class="container">
          <!-- PAGE CONTENTS -->
    <div class="table">
        <div class="row">
            <div class="card">
              <div class="header">
                <h2 class="title">Pre-assigned Course</h2>
              </div>
            </div>&nbsp; 
            <div class="card" >
              <div class="table-responsive">
                <table class="table table-bordered table-striped table-centered table-hover mb-0" id="datatable">
                  <thead>
                    <tr>
                      <th class="border-top-0" scope="col">Subject Code</th>
                      <th class="border-top-0" scope="col">Schedule</th>
                      <th class="border-top-0" scope="col">Professor ID</th>
                      <th class="border-top-0" scope="col" style="width:120px">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr >
                      <td><span></span></td>
                      <td><span></span></td>
                      <td><span></span></td>
                      <td style="white-space: nowrap">
                        <button class="btn btn-secondary">Edit</button>&nbsp;
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <button class="btn btn-success" style="width:120px; margin-left: auto; margin-right: auto; margin-top: 50px;" >Submit</button>
        </div>
     </div>
</div>
