<app-header></app-header>

<div class="table">
  <div class="row">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Student No</th>
          <th>Full Name</th>
          <th>Course</th>
          <th>Year Level</th>
          <th>Acad Year</th>
          <th>Present / Absent</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>
            <span>{{ student.studNo }}</span>
          </td>
          <td>
            <span
              >{{ student.firstName }} {{ student.middleName }}
              {{ student.lastName }}</span
            >
          </td>
          <td>
            <span>{{ student.course }}</span>
          </td>
          <td>
            <span>{{ student.yearLevel }}</span>
          </td>
          <td>
            <span>{{ student.acadYear }}</span>
          </td>
          <td>
            <div class="col-8 col-chk">
              <input
                type="checkbox"
                name="Present"
                (change)="present(student)"
              />
            </div>
            <div class="col-35"><label>Present</label></div>
            <div class="col-8 col-chk">
              <input type="checkbox" name="Absent" (change)="absent(student)" />
            </div>
            <div class="col-35"><label>Absent</label></div>
          </td>
        </tr>
      </tbody>
      <button (click)="submit()">Submit</button>
    </table>
  </div>
</div>
