<app-header></app-header>
<app-faculty-sidenav></app-faculty-sidenav>
<div class="table">
  <div class="row">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Student No</th>
          <th>Full Name</th>
          <th>Course</th>
          <th>Year Level</th>
          <th>Acad Year</th>
          <th>Present / Absent</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>
            <span>{{ student.studentNo }}</span>
          </td>
          <td>
            <span
              >{{ student.studentFirstname }} {{ student.studentMiddlename }}
              {{ student.studentLastname }}</span
            >
          </td>
          <td>
            <span>{{ student.course }}</span>
          </td>
          <td>
            <span>{{ student.yearLevel }}</span>
          </td>
          <td>
            <span>{{ student.acadYear }}</span>
          </td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="present(student)">
              Present
            </button>
            <button class="btn btn-sm btn-warning" (click)="absent(student)">
              Absent
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
