@import "~bootstrap/dist/css/bootstrap.css";

@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Merienda+One&family=Staatliches&display=swap");

.content-container {
  padding-top: 20px;
}

.content-container {
  padding-left: 220px;
  margin-top: 60px;
}

#userimg {
  width: 100px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-top: 5%;
  margin-right: auto;
}

.home-section {
  position: relative;
  background: #e4e9f7;
  min-height: 90vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

#userimg {
  width: 100px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-top: 5%;
  margin-right: auto;
}

.container {
  margin-left: 23%;
  margin-top: 3%;
}

.dashboard-card {
  background-color: white;
  border-radius: 10px;
  border: none;
  width: 35%;
  transition: transform 0.4s;
  box-shadow: 5px 10px 18px #888888;
  margin: 2% 3% 5.5% 3%;
  padding: 3%;
}

.dashboard-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.circle {
  border-radius: 50%;
  width: 30%;
  height: 80px;
  float: right;
  background-color: rgb(248, 246, 96);
}

#icons {
  margin-left: 26%;
  margin-top: 12%;
  font-size: 3.5em;
}

.text {
  font-family: "aladin";
  letter-spacing: 1px;
  font-size: 35px;
  font-weight: bolder;
  color: rgb(5, 44, 42);
}

.sub-text {
  font-family: "aladin";
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 600;
  color: darkred;
}
