<!DOCTYPE html>
<html>
  <head>
    <title>Admin Dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <br /><br />
  <div class="sidebar-container fixed-left">
    <ul class="sidebar-navigation">
      <div class="card" style="width: 235px; background-color: #cc4f4f">
        <div id="userimg" style="width: 150px">
          <img
            [src]="'assets/img/admin.png'"
            alt="Card image"
            style="width: 100%"
          />
        </div>
        <div style="margin-left: auto; margin-right: auto" class="card-body">
          <h4 style="font-weight: bolder" class="card-title">
            <b>ADMIN</b>
          </h4>
        </div>
      </div>

      <li>
        <i
          class="fa fa-home"
          style="font-size: 25px"
          aria-hidden="true"
          [routerLink]="['/admindashboard']"
          ><b>&nbsp;&nbsp;Home</b></i
        >
      </li>

      <li>
        <i
          class="fa fa-plus"
          style="font-size: 25px"
          aria-hidden="true"
          (click)="openFaculty(faculty)"
          ><b>&nbsp;&nbsp;Add Professor</b></i
        >
      </li>
      <li>
        <i
          class="fa fa-cart-plus"
          style="font-size: 25px"
          aria-hidden="true"
          (click)="openStudent(student)"
          ><b>&nbsp;&nbsp;Add Student</b></i
        >
      </li>

      <li>
        <i
          class="fa fa-list"
          style="font-size: 24px"
          aria-hidden="true"
          [routerLink]="['/student-load']"
          ><b>&nbsp;&nbsp;Assign Course</b></i
        >
      </li>
    </ul>
  </div>
  <ng-template #student let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Student</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #s="ngForm" (ngSubmit)="addStudent(s)">
        <div class="form-group">
          <label for="firstName">Firstname</label>
          <div class="input-group">
            <input
              id="firstName"
              class="form-control"
              name="firstName"
              placeholder="Firstname"
              #firstname="ngModel"
              ngModel
            />
          </div>
        </div>
        <div class="form-group">
          <label for="middleName">Middlename</label>
          <div class="input-group">
            <input
              id="middleName"
              class="form-control"
              name="middleName"
              placeholder="Middlename"
              #middleName="ngModel"
              ngModel
            />
          </div>
        </div>
        <div class="form-group">
          <label for="lastName">Lastname</label>
          <div class="input-group">
            <input
              id="lastName"
              class="form-control"
              name="lastName"
              placeholder="Lastname"
              #lastname="ngModel"
              ngModel
            />
          </div>
        </div>
        <div class="form-group">
          <label for="course">Course</label>
          <div class="input-group">
            <input
              id="course"
              class="form-control"
              name="course"
              placeholder="Course"
              #course="ngModel"
              ngModel
            />
          </div>
        </div>
        <div class="form-group">
          <label for="section">Section</label>
          <div class="input-group">
            <input
              id="section"
              class="form-control"
              name="section"
              placeholder="Section"
              #section="ngModel"
              ngModel
            />
          </div>
        </div>
        <div class="form-group">
          <label for="sem">Semester</label>
          <div class="input-group">
            <input
              id="sem"
              class="form-control"
              name="sem"
              placeholder="Semester"
              #sem="ngModel"
              ngModel
            />
          </div>
        </div>
        <div class="form-group">
          <label for="yearLevel">Year Level</label>
          <div class="input-group">
            <input
              id="yearLevel"
              class="form-control"
              name="yearLevel"
              placeholder="Year Level"
              #yearLevel="ngModel"
              ngModel
            />
          </div>
        </div>
        <br />
        <div class="text-center">
          <button data-dismiss="modal" class="btn btn-info">Submit</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close('Save click')"
      >
        Cancel
      </button>
    </div>
  </ng-template>

  <ng-template #faculty let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Faculty</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm" (ngSubmit)="addFaculty(f)">
        <div class="form-group">
          <label for="facultyName">Faculty Name</label>
          <div class="input-group">
            <input
              id="facultyName"
              class="form-control"
              name="facultyName"
              placeholder="Facultyname"
              #facultyName="ngModel"
              ngModel
            />
          </div>
        </div>
        <div class="form-group">
          <label for="course">Work</label>
          <div class="input-group">
            <input
              id="work"
              class="form-control"
              name="work"
              placeholder="Work"
              #work="ngModel"
              ngModel
            />
          </div>
        </div>
        <div class="form-group">
          <label for="section">Status</label>
          <div class="input-group">
            <input
              id="status"
              class="form-control"
              name="status"
              placeholder="Status"
              #status="ngModel"
              ngModel
            />
          </div>
        </div>
        <div class="form-group">
          <label for="activeDeactive">Active/Not</label>
          <div class="input-group">
            <input
              id="activeDeactive"
              class="form-control"
              name="activeDeactive"
              placeholder="Activedeactive"
              #activeDeactive="ngModel"
              ngModel
            />
          </div>
        </div>
        <br />
        <div class="text-center">
          <button data-dismiss="modal" class="btn btn-info">Submit</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close('Save click')"
      >
        Cancel
      </button>
    </div>
  </ng-template>
</html>
