<app-header></app-header>
<app-admin-sidenav></app-admin-sidenav>
<div class="container">
  <div class="row">
    <div class="col-sm" style="margin-left: 200px">
      <a
        href="/admindashboard"
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center"
      >
        <span><i class="fa fa-users"></i></span>
        <br />BSIT
      </a>
    </div>
    <div class="col-sm">
      <a
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center"
      >
        <span><i class="fa fa-users"></i></span>
        <br />BSCS
      </a>
    </div>
    <div class="col-sm">
      <a
        href="/admindashboard"
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center"
      >
        <span><i class="fa fa-users"></i></span>
        <br />BSBA
      </a>
    </div>

    <div class="border"></div>
    <div class="container">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Subject Code</th>
            <th>Subject Title</th>
            <th>Units</th>
            <th>Pre-Requisites</th>
            <th>Course</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of subject">
            <td>
              <span>{{ data.subjectCode }}</span>
            </td>
            <td>
              <span>{{ data.subjectTitle }}</span>
            </td>
            <td>
              <span>{{ data.units }}</span>
            </td>
            <td>
              <span>{{ data.prerequisites }}</span>
            </td>
            <td>
              <span>{{ data.course }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
