<app-header></app-header>
<app-admin-sidenav></app-admin-sidenav>
<div class="container">
  <div class="row">
    <div class="col-sm" style="margin-left: 200px">
      <a
        href="/student-regular"
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center"
      >
        <span><i class="fa fa-users"></i></span>
        <br />Regular
      </a>
    </div>
    <div class="col-sm">
      <a
        href="/student-irregular"
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center"
      >
        <span><i class="fa fa-users"></i></span>
        <br />Irregular
      </a>
    </div>
    <div class="col-sm">
      <a
        href="/student-active"
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center"
      >
        <span><i class="fa fa-users"></i></span>
        <br />Active
      </a>
    </div>
    <div class="col-sm">
      <a
        href="/student-graduate"
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center"
      >
        <span><i class="fa fa-users"></i></span>
        <br />Graduate
      </a>
    </div>

    <div class="border"></div>
  </div>
</div>
<div class="table">
  <div class="row">
    <table class="table table-bordered table-striped">
      <thead>
        <p>Regular Students</p>
        <tr>
          <th>Student No</th>
          <th>Full Name</th>
          <th>BirthDate</th>
          <th>Course</th>
          <th>Year Level</th>
          <th>Acad Year</th>
          <th>Status</th>
          <th>Active/Not</th>
          <th>Parent</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of regStudents">
          <td>
            <span>{{ student.studentNo }}</span>
          </td>
          <td>
            <span
              >{{ student.studentFirstname }} {{ student.studentMiddlename }}
              {{ student.studentLastname }}</span
            >
          </td>
          <td>
            <span>{{ student.birthDate }}</span>
          </td>
          <td>
            <span>{{ student.course }}</span>
          </td>
          <td>
            <span>{{ student.yearLevel }}</span>
          </td>
          <td>
            <span>{{ student.acadYear }}</span>
          </td>
          <td>
            <span>{{ student.status }}</span>
          </td>
          <td>
            <span>{{ student.activeDeactive }}</span>
          </td>
          <td>
            <button
              class="btn btn-sm btn-warning"
              (click)="openParent(parent, student)"
            >
              <i class="fa fa-plus"></i>Add
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #parent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Parent</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #p="ngForm" (ngSubmit)="addParent(p, data)">
      <div class="form-group">
        <label for="parentFirstname">Parent Firstname</label>
        <div class="input-group">
          <input
            id="parentFirstname"
            class="form-control"
            name="parentFirstname"
            placeholder="parentFirstname"
            #parentFirstname="ngModel"
            ngModel
          />
        </div>
      </div>
      <div class="form-group">
        <label for="parentLastname">Parent Lastname</label>
        <div class="input-group">
          <input
            id="parentLastname"
            class="form-control"
            name="parentLastname"
            placeholder="parentLastname"
            #parentLastname="ngModel"
            ngModel
          />
        </div>
      </div>
      <br />
      <div class="text-center">
        <button data-dismiss="modal" class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Cancel
    </button>
  </div>
</ng-template>
