<app-header></app-header>
<app-admin-sidenav></app-admin-sidenav>
<div class="container">
  <div class="row">
    <div class="col-sm" style="margin-left: 200px">
      <a
        href="/student-regular"
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center"
      >
        <span><i class="fa fa-users"></i></span>
        <br />Regular
      </a>
    </div>
    <div class="col-sm">
      <a
        href="/course-bscs"
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center"
      >
        <span><i class="fa fa-users"></i></span>
        <br />Irregular
      </a>
    </div>
    <div class="col-sm">
      <a
        href="/course-bsee"
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center"
      >
        <span><i class="fa fa-users"></i></span>
        <br />Active
      </a>
    </div>
    <div class="col-sm">
      <a
        href="/course-bsee"
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center"
      >
        <span><i class="fa fa-users"></i></span>
        <br />Graduate
      </a>
    </div>

    <div class="border"></div>
  </div>
</div>
