<app-header></app-header>
<app-admin-sidenav></app-admin-sidenav>
<table class="table table-bordered table-striped">
  <thead>
    <p>Assign to Section 1BSIT-1A</p>
    <tr>
      <th>Subject Code</th>
      <th>Subject Title</th>
      <th>Units</th>
      <th>Course</th>
      <th>Year Level</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of bsit11">
      <td>
        <span>{{ data.subjectCode }}</span>
      </td>
      <td>
        <span>{{ data.subjectTitle }}</span>
      </td>
      <td>
        <span>{{ data.units }}</span>
      </td>
      <td>
        <span>{{ data.course }}</span>
      </td>
      <td>
        <span>{{ data.yearLevel }}</span>
      </td>
      <td>
        <button class="fa fa-edit" (click)="openStudent(student, data)">
          Assign Schedule
        </button>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #student let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Assign Schedule</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #s="ngForm" (ngSubmit)="addSchedule(s)">
      <div class="form-group">
        <div>
          <select
            id="facultyNo"
            class="form-control"
            name="facultyNo"
            #facultyNo
            ngModel
          >
            <option *ngFor="let profs of prof" [value]="profs.facultyNo">
              {{ profs.facultyNo }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="section">Section</label>
        <div class="input-group">
          <input
            id="section"
            class="form-control"
            name="section"
            placeholder="section"
            #section="ngModel"
            ngModel
          />
        </div>
      </div>
      <div class="form-group">
        <label for="schedule">Schedule</label>
        <div class="input-group">
          <input
            id="schedule"
            class="form-control"
            name="schedule"
            placeholder="schedule"
            #schedule="ngModel"
            ngModel
          />
        </div>
      </div>

      <br />
      <div class="text-center">
        <button data-dismiss="modal" class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Cancel
    </button>
  </div>
</ng-template>
