<app-header></app-header> <app-admin-sidenav></app-admin-sidenav>
<div class="d-flex flex-row justify-content-center">
  <div class="layout-container-page">
    <div class="layout-page">
      <form>
        <!-- Content wrapper -->
        <div class="content-wrapper">
          <!-- Content -->
          <div class="container-xxl flex-grow-1 container-p-y" id="profile">
            <h4 class="fw-bold py-3 mb-4">
              <span class="text-muted fw-light">Account Settings/</span> Admin
              Profile
            </h4>

            <div class="row">
              <div class="col-md-12">
                <div class="card mb-4">
                  <h5 class="card-header">Profile Details</h5>
                  <!-- Account -->
                  <div class="card-body">
                    <div
                      class="d-flex align-items-start align-items-sm-center gap-4"
                    >
                      <img
                        width="50"
                        [src]="imageUrl"
                        alt="student-avatar"
                        class="d-block rounded"
                        height="100"
                        width="100"
                        id="uploadedAvatar"
                      />
                      <div>
                        <div
                          class="d-flex flex-row justify-content-center align-items-center"
                        >
                          <div class="mb-6 col-md-25">
                            <label for="adminId" class="form-label"
                              >Admin ID</label
                            >
                            <input
                              class="form-control"
                              type="text"
                              value="{{ data?.adminId }}"
                              [attr.disabled]="true"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card-body">
                    <div class="row">
                      <div class="mb-3 col-md-6">
                        <label for="adminFirstname" class="form-label"
                          >First Name</label
                        >
                        <input
                          class="form-control"
                          type="text"
                          value="{{ data?.adminFirstname }}"
                          [attr.disabled]="true"
                        />
                      </div>
                      <div class="mb-3 col-md-6">
                        <label for="adminLastname" class="form-label"
                          >Last Name</label
                        >
                        <input
                          class="form-control"
                          type="text"
                          value="{{ data?.adminLastname }}"
                          [attr.disabled]="true"
                        />
                      </div>
                      <div class="mb-3 col-md-6">
                        <label for="adminEmail" class="form-label">Email</label>
                        <input
                          class="form-control"
                          type="text"
                          value="{{ data?.adminEmail }}"
                          [attr.disabled]="true"
                        />
                      </div>
                      <div class="mb-3 col-md-6">
                        <label for="bday" class="form-label">Type</label>
                        <input
                          type="text"
                          class="form-control"
                          value="{{ data?.type }}"
                          [attr.disabled]="true"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card mb-4">
                  <h5 class="card-header">Change password</h5>
                  <div class="card-body address-group">
                    <form #f="ngForm" (ngSubmit)="onChangePassword(f, data)">
                      <div class="form-group">
                        <label for="adminPassword">Password</label>
                        <div class="input-group">
                          <input
                            id="adminPassword"
                            class="form-control"
                            name="adminPassword"
                            #adminPassword="ngModel"
                            ngModel
                          />
                        </div>
                      </div>

                      <!-- <div class="row">
                        <div class="mb-3 col-md-6">
                          <label for="newPass" class="form-label"
                            >New Password</label
                          >
                          <input
                            class="form-control"
                            formControlName="adminPassword"
                            type="password"
                            placeholder="New Password"
                          /> -->
                      <!-- <span *ngIf="studentForm.get('lastName').touched && studentForm.get('newPass').hasError('required')" class="errors">
                              Field is required
                            </span> -->
                      <!-- </div>
                        <div class="mb-3 col-md-6">
                          <label for="email" class="form-label"
                            >Confirm Password</label
                          >
                          <input
                            class="form-control"
                            formControlName="confirmPass"
                            type="password"
                            placeholder="Confirm Password"
                          />
                        </div>
                      </div> -->
                      <div class="mt-2">
                        <button type="submit" class="btn us-btn-primary me-2">
                          Save changes
                        </button>
                        <button type="reset" class="btn us-btn-secondary">
                          Cancel
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- / Content -->
        </div>
        <!-- Content wrapper -->
      </form>
    </div>
    <!-- / Layout page -->
  </div>
  <!-- Overlay -->
</div>
