<app-header></app-header>

<div class="table">
  <div class="row">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Student No</th>
          <th>Subject</th>
          <th>Full Name</th>
          <th>Status</th>
          <th>Date <br />(YYYY/MM/DD)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of datas">
          <td>
            <span>{{ data.studentNo }}</span>
          </td>
          <td>
            <span>{{ data.subjectCode }}</span>
          </td>
          <td>
            <span
              >{{ data.studentFirstname }} {{ data.studentMiddlename }}
              {{ data.studentLastname }}</span
            >
          </td>
          <td>
            <span>{{ data.status }}</span>
          </td>
          <td>
            <span>{{ data.timestamp }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
