@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css");

// h1{
//   margin-top: -10px;
//   padding: 1em 2em;
// }

p{//clock
  padding: 2em 2em;
  color: #fff;
}

.table {
  text-align: center;
}

.container {
  overflow: hidden !important;
  margin-left: 250px;
}