<app-header></app-header>

<div id="wrapper"  [ngClass]="ref.click === true? 'toggled' :''" >
  <div class="overlay" [ngStyle]="{disply:ref.click === true? 'block' :'none'}" ></div>
  <!-- Sidebar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
          <div class="profile">
              <img [src]="'assets/img/maleuser.png'" width="150" height="150" />
            </div>
          <li>
              <a routerLink="/profile">
                <i class="fa fa-user"></i>
                <span class="links_name">Account Profile</span>
              </a>
            </li>
            <li>
              <a routerLink="/pre-assigned">
                <i class="fa fa-check"></i>
                <span class="links_name">Pre-assigned Courses</span>
              </a>
            </li>
            <li>
              <a routerLink="/courses-list">
                <i class="fa fa-list"></i>
                <span class="links_name">Courses List </span>
              </a>
            </li>
            <li>
              <a routerLink="/attendance">
                <i class="fa fa-clipboard"></i>
                <span class="links_name">Attendance</span>
              </a>
            </li>
            <li>
              <a routerLink="/grades">
                <i class="fa fa-graduation-cap"></i>
                <span class="links_name">Courses Marks</span>
              </a>
            </li>
         
      </ul>
  </nav>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
      <button appSidebar  #ref="appSidebar" type="button" class="hamburger is-closed" data-toggle="offcanvas">
          <span class="hamb-top"></span>
          <span class="hamb-middle"></span>
          <span class="hamb-bottom"></span>
      </button>
      <div class="container">
      <div class="row">
      
<!-- Layout wrapper -->
<div class="d-flex flex-row justify-content-center">
    <div class="layout-container-page">
      <div class="layout-page">
        <form>
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y" id="profile">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Student Profile /</span> Account Settings</h4>
  
              <div class="row">
                <div class="col-md-12">
                  <div class="card mb-4">
                    <h5 class="card-header">Profile Details</h5>
                    <!-- Account -->
                    <div class="card-body">
                      <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img width="50" [src]="imageUrl" alt="student-avatar" class="d-block rounded" height="50"
                          width="50" id="uploadedAvatar" />
                        <div>
                          <div class="d-flex flex-row justify-content-center align-items-center ">
                            <div class="mb-25 col-md-5">
                              <label for="studentNo" class="form-label">Student No.</label>
                              <input class="form-control" formControlName="studentNo" type="text" formControlName="studentNo" value={{data.studentNo}} [attr.disabled]="true"/>
                            </div><p style="padding: 15px; margin: 15px"></p>
                            <div class="mb-25 col-md-5">  
                              <label for="acadYear" class="form-label">Academic Year</label>
                              <input class="form-control" formControlName="acadYear" type="text" formControlName="acadYear" value={{data.acadYear}} [attr.disabled]="true"/>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                    <div class="card-body">
                      <div class="row">

                        <div class="mb-3 col-md-6">
                          <label for="firstName" class="form-label">First Name</label>
                          <input class="form-control" type="text" value={{data.firstName}} [attr.disabled]="true"/>
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="lastName" class="form-label">Last Name</label>
                          <input class="form-control" type="text" value={{data.lastName}} [attr.disabled]="true"/>
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="middleName" class="form-label">Middle Name</label>
                          <input class="form-control" type="text" value={{data.middleName}} [attr.disabled]="true"/>
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="bday" class="form-label">Birthday</label>
                          <input type="text" class="form-control" value={{data.birthDate}} [attr.disabled]="true"/>
                        </div>

                      </div>
  
                    </div>
                  </div>
  
                  <div class="card mb-4">
                    <h5 class="card-header">More Student Info</h5>
                    <div class="card-body">
                      <div #target>
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <label for="course" class="form-label">Course Degree</label>
                            <input class="form-control" value={{data.course}} [attr.disabled]="true"/>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="yearLevel" class="form-label">Year Level</label>
                            <input class="form-control" type="text" value={{data.yearLevel}} [attr.disabled]="true"/>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="section" class="form-label">Section</label>
                            <input class="form-control" value={{data.section}} [attr.disabled]="true"/>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="sem" class="form-label">Semester</label>
                            <input class="form-control" type="text" value={{data.sem}} [attr.disabled]="true"/>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="status" class="form-label">Student Status</label>
                            <input class="form-control" type="text" value={{data.status}} [attr.disabled]="true"/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="card mb-4">
                    <h5 class="card-header">Change password</h5>
                    <div class="card-body address-group" formGroupName="address">
                      <form #target [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <label for="newPass" class="form-label">New Password</label>
                            <input class="form-control" formControlName="newPass" type="password" placeholder="New Password" />
                            <!-- <span *ngIf="studentForm.get('lastName').touched && studentForm.get('newPass').hasError('required')" class="errors">
                              Field is required
                            </span> -->
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="email" class="form-label">Confirm Password</label>
                            <input class="form-control" formControlName="confirmPass" type="password" placeholder="Confirm Password" />
                          </div>
                        </div>
                        <div class="mt-2">
                          <button type="submit" class="btn us-btn-primary me-2">Save changes</button>
                          <button type="reset" class="btn us-btn-secondary">Cancel</button>
                        </div>
                      </form>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
            <!-- / Content -->
          </div>
          <!-- Content wrapper -->
        </form>
      </div>
      <!-- / Layout page -->
    </div>
    <!-- Overlay -->
  </div>

</div>
</div>
</div>
<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
