<app-header></app-header>
<!-- Layout wrapper -->

<div class="d-flex flex-row justify-content-center">
    <div class="layout-container-page">
      <div class="layout-page">
        <form [formGroup]="studentForm" (ngSubmit)="submit()">
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y" id="profile">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Account Settings /</span> Student Profile</h4>
  
              <div class="row">
                <div class="col-md-12">
                  <div class="card mb-4">
                    <h5 class="card-header">Profile Details</h5>
                    <!-- Account -->
                    <div class="card-body">
                      <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img width="50" [src]="imageUrl" alt="student-avatar" class="d-block rounded" height="100"
                          width="100" id="uploadedAvatar" />
                        <div class="button-wrapper ">
                          <div class="d-flex flex-row justify-content-center align-items-center ">
                            <label for="upload" class="btn us-btn-primary me-2 mb-4" tabindex="0">
                              <span class="d-none d-sm-block">Upload new photo</span>
                              <i class="bx bx-upload d-block d-sm-none"></i>
                              <input type="file" id="upload" class="account-file-input" hidden
                                (change)="previewImage($event)" accept="image/png, image/jpeg" />
                            </label>
                            <button type="button" class="btn us-btn-secondary account-image-reset mb-4">
                              <i class="bx bx-reset d-block d-sm-none"></i>
                              <span class="d-none d-sm-block" (click)="imageUrl = '../../../../assets/images/empty.png'">Reset</span>
                            </button>
                          </div>
  
                          <p class="text-muted mb-0">Allowed JPG, JPEG or PNG. Max size of 1MB</p>
                        </div>
                      </div>
                    </div>
                  
                    <div class="card-body info-group" formGroupName="info">
  
                      <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="studentNo" class="form-label">Student No.</label>
                            <input class="form-control" type="text" formControlName="studentNo" [value]="data.studentNo"/>
                          </div>

                        <div class="mb-3 col-md-6">
                            <label for="acadYear" class="form-label">Academic Year</label>
                            <input class="form-control" type="text" formControlName="acadYear" [value]="data.acadYear"/>
                        </div>

                        <div class="mb-3 col-md-6">
                          <label for="firstName" class="form-label">First Name</label>
                          <input class="form-control" type="text" formControlName="firstName" value={{data.firstName}}/>
                          
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="lastName" class="form-label">Last Name</label>
                          <input class="form-control" type="text" formControlName="lastName" [value]="data.lastName"/>
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="middleName" class="form-label">Middle Name</label>
                          <input class="form-control" type="text" formControlName="middleName" [value]="data.middletName" placeholder="Middle Name" required/>
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="bday" class="form-label">Birthday</label>
                          <input type="text" class="form-control" formControlName="bday" [value]="data.birthDate" placeholder="Birthday" required>
                        </div>

                      </div>
  
                    </div>
                  </div>
  
                  <div class="card mb-4">
                    <h5 class="card-header">More Student Info</h5>
                    <div class="card-body adress-group" formGroupName="address">
                      <div #target>
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <label for="course" class="form-label">Course Degree</label>
                            <input class="form-control" formControlName="course" [value]="data.course"/>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="yearLevel" class="form-label">Year Level</label>
                            <input class="form-control" type="text" formControlName="yearLevel" [value]="data.yearLevel"/>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="section" class="form-label">Section</label>
                            <input class="form-control" formControlName="section" [value]="data.section"/>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="sem" class="form-label">Semester</label>
                            <input class="form-control" type="text" formControlName="sem" [value]="data.sem"/>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="status" class="form-label">Student Status</label>
                            <input class="form-control" type="text" formControlName="status" [value]="data.status"/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="card mb-4">
                    <h5 class="card-header">Change password</h5>
                    <div class="card-body address-group" formGroupName="address">
                      <form #target [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <label for="lastName" class="form-label">New Password</label>
                            <input class="form-control" formControlName="newPass" type="password" placeholder="New Password" />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="email" class="form-label">Confirm Password</label>
                            <input class="form-control" formControlName="confirmPass" type="password" placeholder="Confirm Password" />
                          </div>
                        </div>
                        <div class="mt-2">
                          <button type="submit" class="btn us-btn-primary me-2">Save changes</button>
                          <button type="reset" class="btn us-btn-secondary">Cancel</button>
                        </div>
                      </form>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
            <!-- / Content -->
          </div>
          <!-- Content wrapper -->
        </form>
      </div>
      <!-- / Layout page -->
    </div>
    <!-- Overlay -->
  </div>
