@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Merienda+One&family=Staatliches&display=swap");

//Sidebar
ng-sidebar-container {
  height: 100vh;
}

::ng-deep .ng-sidebar {
  position: absolute;
  left: 0;
  top: 0;
  height: 115%;
  width: 225px;
  background: #11101d;
  // padding: 6em 3em;
  z-index: 99;
  transition: all 0.5s ease;
  box-shadow: 0 0 2.5em rgba(85, 85, 0.5);
}

.profile {
  position: relative;
  padding-left: 2em;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 25px;
  margin-left: -10%;
  margin-right: 10px;
  height: 100%;
  display: block;
}

.sidebar.open .nav-list {
  margin-top: 20px;
  margin-left: -15%;
  height: 100%;
  display: block;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100;
  border-radius: 10px;
  align-items: center;
  transition: all 0.4s ease;
}
.sidebar li a:hover {
  background: #fff;
  cursor: pointer;
}

.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

// Content
