<app-header></app-header>
<app-parent-sidenav></app-parent-sidenav>
<div class="container">
  <!-- PAGE CONTENTS -->
  <div class="table">
    <div class="row">
      <div class="card">
        <div class="header">
          <h2 class="title">Student's Grades</h2>
        </div>
      </div>
      &nbsp;

      <div class="card">
        <div class="table-responsive">
          <table
            class="table table-bordered table-striped table-centered table-hover mb-0"
            id="datatable"
          >
            <thead>
              <tr>
                <th>Student Number</th>
                <th>Grades</th>
                <th>Remarks</th>
                <th>Comments</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of load">
                <td>
                  <span> {{ data?.studentNo }} </span>
                </td>
                <td>
                  <span> {{ data?.grade }} </span>
                </td>
                <td>
                  <span> {{ data?.remarks }} </span>
                </td>
                <td>
                  <span> {{ data?.comment }} </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
